@model OTM.Models.Faculty

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rollno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rollno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.regornot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.regornot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.department)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.department.Id)*@
            @ViewBag.DeptSname
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" role="button" class="btn btn-primary">Home</a> 
    @*<a asp-action="Index">Back to List</a>*@
</div>
