@model IEnumerable<OTM.Models.Test>

@{
    ViewData["Title"] = "Tests";
}

<h1>Tests</h1>
<big><font color="red">@ViewBag.Error</font></big>
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TotalQuestions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalmarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testduration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestEndtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.semester)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.TotalQuestions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalmarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Testdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Testduration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestEndtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester.Id)
            </td>*@
            <td>
                
                <a class="btn btn-info" asp-action="TestDetails" asp-route-tid="@item.Id">Details</a>
                <a class="btn btn-dark" asp-controller="Students" asp-action="Attend" asp-route-tid="@item.Id">Attend</a>
                <a class="btn btn-success" asp-action="Result" asp-route-tid="@item.Id">Result</a>

                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="TestDetails" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
